html, body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    background-color:#f7e9b7;
    color:tomato;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: dashed 4px tomato;
}

.square {
    width: 20px;
    height: 20px;
}

.snake {
    background-color: green;
}

.apple {
    background-color: red;
}

.main-container {
    margin:0 auto;
    display: flex;
    justify-content: center;
}

.game-container {
    width:200px;
    padding:15px
}

.highscore-container {
    padding:153px 15px 15px 50px;
}

.highscore-container li{
    margin:10px;
}
.overlay {
    background-color: #f7e9b7;
    position: absolute;
    top:0px;
    bottom:0px;
    right:0px;
    left:0px;
}

.modal{
    margin-top:15%;
    color:#000;
    text-align: center;

}

.main-container {
   
}

#gridSizeSubmit {
    outline: none;
    padding:15px 35px;
    border: 1px solid teal;
    border-radius: 10px;
    font-family: inherit;
    color:white;
    background-color: teal;
}

#gridSize {
    margin:15px;
    width:150px;
}

#gridSizeSubmit:hover{
    background-color: green;
    border: 1px solid green;
}

#start{
    outline: none;
    padding:10px 15px;
    border: 1px solid teal;
    border-radius: 10px;
    font-family: inherit;
    color:white;
    background-color: teal;
    font-size:10px;
}

#start:hover{
    background-color: green;
    border: 1px solid green;
}
