html, body {
    margin: 0;
    padding: 0;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: solid 2px black;
}

.square {
    width: 20px;
    height: 20px;
}

.snake {
    background-color: green;
}

.apple {
    background-color: blue;
}

.main-container {
    margin:0 auto;
    width:200px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0px;
    bottom:0px;
    right:0px;
    left:0px;
}

.modal{
    color:#fff;
    text-align: center;

}